h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}
body{
  color: white;
}
.p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
img{
  background-size: cover;
}
.nav-link:hover{
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
body { 
  background: url(https://getwallpapers.com/wallpaper/full/d/b/b/1282929-futuristic-background-wallpaper-1920x1080-for-1080p.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Navigation Bar */
.bg-body-tertiary {
  --bs-bg-opacity: 0.6;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.btn{
  transition-duration: 0.4s;
}
.btn:hover{
  background-color: #0B6FD6;
  color: white;
  display: block;
}
#btn1{
  background-color: ;
  display: inline-block;
}
/* Carousel Settings */
.carousel-item{
  
}

